<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sarah Lammert</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div style="text-align: center;">
        <h1 id="title">Sarah Lammert</h1>
        <p>
            Adaptable, curious, systems thinker actively seeking a position in a team-oriented organization that seeks to solve challenging problems using data and analytics.
        </p>
    </div>

    <ul>
        <li>
            <a href="https://github.com/SarahMLammert" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/sarahmlammert/" target="_blank">
                LinkedIn
            </a>
        </li>
        <li>
            <a href="{{ url_for('photos') }}">Photos</a>
        </li>
    </ul>
</body>

</html>